In [1]:
import pandas as pd

In [2]:
df =pd.read_excel('Excel_Sample.xlsx', sheet_name = 'Sheet1', index_col= 0)
df.to_excel('Excel_Sample2.xlsx', sheet_name = 'NewSheet')

In [26]:
df2 = pd.DataFrame({'a' : [0, 4,8, 12], 'b': [1, 5, 9, 13], 'c':[2,6,10,14], 'd': [3,7,11,15]})

df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

Can't find a good html website to try this with.

In [ ]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

Pandas aren't the best way to work with sql, in comparison to SQLite, PYSql, MySQL, etc.

In [24]:
from sqlalchemy import create_engine

engine = create_engine('sqlite://', echo=False)

In [28]:
df2.to_sql('my_table', engine)

TypeError: __init__() got multiple values for argument 'schema'

In [25]:
df2.to_sql(name = 'my_table', con = engine)

TypeError: __init__() got multiple values for argument 'schema'

In [ ]:
from sqlalchemy import text
with engine.connect() as conn:
   conn.execute(text("SELECT * FROM my_table")).fetchall()