In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
columns_names = ['user_id', 'item_id', 'timestamp']

In [25]:
df = pd.read_csv('u.data', sep='\t', names=columns_names)
df.head()

     user_id  item_id  timestamp
0         50        5  881250949
0        172        5  881250949
0        133        1  881250949
196      242        3  881250949
186      302        3  891717742

In [16]:
movie_titles = pd.read_csv('Movie_Id_Titles')
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [19]:
df = pd.merge(df, movie_titles, on='item_id')

In [20]:
df

        user_id  item_id  timestamp              title
0            50        5  881250949     Copycat (1995)
1           172        5  881250949     Copycat (1995)
2           465        5  891628467     Copycat (1995)
3          1014        5  879781125     Copycat (1995)
4           222        5  876042340     Copycat (1995)
...         ...      ...        ...                ...
99998       582        4  883789294  Get Shorty (1995)
99999       498        4  892241344  Get Shorty (1995)
100000     1091        4  888637503  Get Shorty (1995)
100001      421        4  882388897  Get Shorty (1995)
100002      538        4  892685437  Get Shorty (1995)

[100003 rows x 4 columns]

In [21]:
sns.set_style('white')

In [22]:
df.groupby('title')['rating'].mean()

KeyError: 'Column not found: rating'